# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*


terraform-bronze/01-Twitter_Trends_Scan/.terraform.lock.hcl
terraform-bronze/01-Twitter_Trends_Scan/terraform.tfvars
terraform-bronze/01-Twitter_Trends_Scan/*.tfvars
terraform-bronze/01-Twitter_Trends_Scan/teste02.txt
terraform-bronze/01-Twitter_Trends_Scan/desafio-01.out
terraform-bronze/01-Twitter_Trends_Scan/output.tf
terraform-bronze/02-Wordpress/output.tf
terraform-bronze/02-Wordpress/terraform.tfvars
terraform-bronze/01-Twitter_Trends_Scan/desafio-02.out
